# Import pandas and create a dataframe

In [1]:
import pandas as pd

### Creating dataset

In [2]:
data = {"Title" : ['Kean Hall', 'Merle R. Eppse', 'TSU Performing Arts', 'Torrence Hall', 'Wilma Rudolph Residence', 'Hale Hall', 'Boyd Hall', 'Robert E. Clay Hall', 'Jim N McCord Hall','Brown-Daniel Library','Boswell Science Complex', 'Holland Hall', 'Hubert Crouch Hall', 'Wilson Hall', 'TSU Bursar Office', 'Harned Hall', 'Janie E. Elliot Hall', 'Edna R. Hankal Residence','Health Science Building', 'Hale Stadium', 'Wilfred W. Lawson Hall', 'Farrell-Westbrook Agricultural Complex', 'Agricultural Industrial Technology Building', 'TSU Early Learning Center', 'Softball Complex', 'Temple Track', 'Gentry Center', 'TSU Indoor Practice Field', 'TSU Goat & Cattle Facility', 'TSU Farm', 'Ford Apartments', 'NRC Apartments', 'Starbucks', 'Chick-Fil-A', 'Pizza Hut'],
        "Address": ['1111-1123 33rd Ave N, Nashville, TN 37209', '3401 Alameda St, Nashville, TN 37209', '3501/3503 Alameda St, Nashville, TN 37209','Andrew P. Torrence Hall - Engineering, Alameda St, Nashville, TN 37209', '3505 Clare Ave, Nashville, TN 37209', '3501 Clare Ave, Nashville, TN 37209', '3402 Alameda St, Nashville, TN 37209', 'Alameda St, Nashville, TN 37209', '3401 John A Merritt Blvd, Nashville, TN 37209','3408 Alameda St, Nashville, TN 37209', 'Nashville, TN 37209', '1005 37th Ave N, Nashville, TN 37209', '1004 37th Ave N, Nashville, TN 37209', '3504 John A Merritt Blvd, Nashville, TN 37209', '3500 John A Merritt Blvd, Nashville, TN 37209', '3508 John A Merritt Blvd, Nashville, TN 37209','1108 37th Ave N, Nashville, TN 37209', '1124 37th Ave N, Nashville, TN 37209', '1112 37th Ave N, Nashville, TN 37209', '3500 John A Merritt Blvd, Nashville, TN 37209', 'Wilfred W. Lawson Hall - Agriculture, Nashville, TN 37209', '3500 John A Merritt Blvd, Nashville, TN 37209', 'Nashville, TN 37209', '3098 John A Merritt Blvd, Nashville, TN 37209', '3647 Dr Walter S Davis Blvd, Nashville, TN 37209', '3651 Dr Walter S Davis Blvd, Nashville, TN 37208', '3645 Dr Walter S Davis Blvd, Nashville, TN 37209', '3621 Dr Walter S Davis Blvd, Nashville, TN 37208','3621 Dr Walter S Davis Blvd, Nashville, TN 37208', '1946 Ed Temple Blvd, Nashville, TN 37208', '2700 W Heiman St, Nashville, TN 37208', 'Students Apartments Phase II, Nashville, TN 37208', '3500 John A Merritt Blvd, Nashville, TN 37209', '3500 John A Merritt Blvd Floyd-Payne Campus Center, Nashville, TN 37209', 'Floyd Payne Campus Center, 3500 John A Merritt Blvd'],
        "Latitude": [36.166154797807636, 36.16430987952278, 36.16375552939468, 36.16450909813378, 36.163599617706105, 36.164015381496654, 36.16478627102329, 36.164716977892816, 36.16537526015932, 36.16579101453189, 36.165011473274355, 36.16557375346194, 36.16566052623863, 36.166723484775574, 36.16719349586708, 36.16733088318988, 36.167077801092674, 36.1671284175775, 36.167583964477274, 36.16840828071645, 36.167721351136784, 36.168711973985694, 36.16873366631762, 36.168046739590075, 36.17137289937651, 36.16977061472028, 36.16925960894023, 36.171113071657686, 36.17602627053925, 36.17528164119777, 36.17140629368494, 36.172845270427516, 36.16677009637365, 36.166518914841504, 36.16632836279737, ],
        "Longitude": [-86.82809329524065, -86.8270633270382, -86.82893014440512, -86.83256721968054, -86.83226681228815, -86.83109736922498, -86.82720280190456, -86.8293056536512, -86.82937002666385, -86.82840443147406, -86.83142996306874, -86.83244723568411, -86.83154258539584, -86.83019008840843, -86.82897194541243, -86.82944666289808, -86.83222331234244, -86.83146197297866, -86.83136344670186, -86.82685810899098, -86.82575640608763, -86.82500402357194, -86.82429642576858, -86.8244755644424, -86.82912512467257, -86.8318609777103, -86.82909293816626, -86.82598157588805, -86.82791802984617, -86.82611999220585, -86.819872326987, -86.81991797901735, -86.82871515624211, -86.82829673165986, -86.82887608877373]}

### Converting Dataset

In [3]:
df = pd.DataFrame(data)

## Import sqlalchemy so we can make the connection

In [4]:
from sqlalchemy import create_engine

### Insert my config.py file containing sensitive PW

In [5]:
from config import db_password

### Create a database engine

In [6]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/TSU-Campus"

In [7]:
engine = create_engine(db_string)

### Import dataframe to SQL Table

In [8]:
df.to_sql(name='campus', con=engine)

### Transform df to excel file

In [10]:
df.to_excel('TSU-Campus.xlsx', index = False)